html,
body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

input,
button {
  font-family: "Poppins", sans-serif;
}

input:focus-visible {
  z-index: 0 !important;
  border-color: transparent !important;
}

/* Hide scrollbar */
.scroll-container::-webkit-scrollbar {
  visibility: hidden;
}
